@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary {
    @apply bg-[#0e7ccf] text-white px-2 py-1 rounded-md transition-colors hover:bg-[#0e7ccf]/80 active:bg-[#0e7ccf]
}

.cotainerCounterStyles {
    display: flex;
    gap: 4;
}

.first-color {
    background-color: #888
}

.second-color {
    background-color:gray
}

#title-main {
    font-weight: 600;
    font-size: 20px;
}

#title-main:hover {
    color: red;
}

.primaryText {
    color: green
}